.modal {
    width: 1200px;
    padding: 1rem;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    text-align: left;
    margin-left: 50px;
}

th {
    padding: 5px;
}

.my-header {
    display: block;
    width: 100%;
}

.my-title {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.my-title-btn {
    margin-left: 10px;
    display: inline-block;
}

.my-close {
    display: inline-block;
    position: relative;
    float: right;
}

.vertical-align {
    vertical-align: top;
}

.my-mb-7 {
    margin-bottom: 7px;
}

.my-btn {
    border: solid 1px #868686;
    min-width: 90px;
    min-height: 22px;
    border-radius: 3px;
    background-image: linear-gradient(to top, #585858, #888888);
    color: white;
}
