<div class="backdrop"></div>

<div class="tpm-modal transform-100 width-1200">
    <div class="tpm-header">
        <div class="tpm-title">
            <span>Заказ № {{task.id}} ({{task.userLogin}})</span>
        </div>
        <div class="tpm-header-block" *ngIf="task.userLogin === authService.Login">
            <button class="tpm-btn" type="button" (click)="showTaskEditPaymentModal()">Оплатить заказ</button>
        </div>
        <div class="tpm-header-block" *hasAnyRole="['ROLE_ADMIN']">
            <button class="tpm-btn" type="button" (click)="showTaskEditCostModal()">Оценить заказ</button>
        </div>
        <div class="tpm-header-block" *hasAnyRole="['ROLE_ADMIN']">
            <button class="tpm-btn" type="button" (click)="showTaskEditRefuseModal()">Отказать в решении</button>
        </div>
        <div class="tpm-header-block" *hasAnyRole="['ROLE_ADMIN']">
            <button class="tpm-btn" type="button" (click)="showTaskEditSolveModal()">Загрузить решение</button>
        </div>
        <div class="tpm-header-block" *hasAnyRole="['ROLE_ADMIN']">
            <button class="tpm-btn" type="button" (click)="deleteTask()">Удалить заказ</button>
        </div>
        <div class="tpm-close">
            <button type="button" (click)="close()">&times;</button>
        </div>
    </div>
    <hr>
    <div class="my-body">
        <table class="tpm-td-table">
            <tr>
                <th class="tpm-td-th">Статус заказа:</th>
                <td>{{task.status.name}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Стоимость заказа:</th>
                <td>{{task.cost}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th" *hasAnyRole="['ROLE_ADMIN']">Предварительная стоимость заказа:</th>
                <td>{{task.preparedCost}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Раздел:</th>
                <td>{{task.subject.name}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th vertical-align-top">Условия задач:</th>
                <td>
                    <div *ngFor="let attachedFile of task.attachedFiles" class="margin-bottom-7">
                        <ng-container *ngIf="attachedFile.type === 'task'">
                            <a (click)="download(attachedFile)" href="javascript:void(0);">
                                <span>{{attachedFile.name}}</span>
                            </a>
                            <span>
                                ({{attachedFile.size}}кб)
                            </span>
                        </ng-container>
                    </div>
                </td>
            </tr>

            <tr>
                <th class="tpm-td-th">Дата оформления заказа:</th>
                <td>{{task.created | date: 'medium'}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Срок решения:</th>
                <td>{{task.deadline | date: 'medium'}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Комментарий:</th>
                <td>{{task.comment}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th">Контактная информация:</th>
                <td>{{task.contact}}</td>
            </tr>

            <tr>
                <th class="tpm-td-th vertical-align-top">Решение:</th>
                <td>
                    <div class="margin-bottom-7" *ngFor="let attachedFile of task.attachedFiles" >
                        <ng-container *ngIf="attachedFile.type === 'solve'">
                            <a (click)="download(attachedFile)" href="javascript:void(0);">
                                <span>{{attachedFile.name}}</span>
                            </a>
                            <span>
                                ({{attachedFile.size}}кб)
                            </span>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--
    <button class="btn" (click)="close.emit()">Close</button>-->
