<table>

  <tr>
    <th></th>
    <td></td>
  </tr>

  <tr>
    <th>Номер заказа:</th>
    <td>{{task.id}}</td>
  </tr>

  <tr>
    <th>Заказчик:</th>
    <td>{{task.user.login}}</td>
  </tr>

  <tr>
    <th>Раздел:</th>
    <td>{{task.subject.name}}</td>
  </tr>

  <tr>
    <th>Условия задачи:</th>
    <td>{{task.files}}</td>
  </tr>

  <tr>
    <th>Комментарий:</th>
    <td>{{task.comment}}</td>
  </tr>


  <tr>
    <th>Срок решения:</th>
    <td>{{task.deadline | date: 'hh:mm dd.MM'}}</td>
  </tr>

  <tr>
    <th>Статус заказа:</th>
    <td>{{task.status.name}}</td>
  </tr>

  <tr>
    <th>Стоимость заказа:</th>
    <td>{{task.cost}}</td>
  </tr>

  <tr>
    <th>Дата оформления заказа:</th>
    <td>{{task.created | date: 'hh:mm dd.MM'}}</td>
  </tr>

  <tr>
    <th>Контактная информация:</th>
    <td>{{task.contact}}</td>
  </tr>
</table>
