<p class="content-title">Оформление заказа!</p>
<hr>

<form [formGroup]="form" (ngSubmit)="submit()">

    <table>
        <tr>
            <th>Раздел*:</th>
            <td>
                <select appTooltip="tooltipSubject" formControlName="subject">
                    <option *ngIf="!form.value.subject" [ngValue]="null"></option>
                    <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
                </select>
                <span id="tooltipSubject" class="comment">
                    Выберите раздел математики (или программирования), по которому необходимо решить задачи. Если Вы не нашли интересующий раздел выберите пункт "Остальное"
                </span>
                <div *ngIf="form.get('subject').invalid && form.get('subject').touched">
                    <span *ngIf="form.get('subject').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th>Дата решения*:</th>
            <td>
                <input type="datetime-local" appTooltip="tooltipDate" formControlName="deadline">
                <span id="tooltipDate" class="comment">
                    Укажите дату и время когда хотите получить решение задач
                </span>
                <div *ngIf="form.get('deadline').invalid && form.get('deadline').touched">
                    <span *ngIf="form.get('deadline').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th>Стоимость*:</th>
            <td>
                <input type="text" appTooltip="tooltipCost" formControlName="cost">
                <span id="tooltipCost" class="comment">
                    Укажите примерную стоимость, на которую Вы рассчитываете.
                </span>
                <div *ngIf="form.get('cost').invalid && form.get('cost').touched">
                    <span *ngIf="form.get('cost').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                </div>
            </td>
        </tr>


        <tr>
            <th>Условия задач*:</th>
            <td>
                <input type="file" appTooltip="tooltipFile" formControlName="file">
                <span id="tooltipFile" class="comment">
                    В прикрепленном файле должны содержаться условия задач. Файл не должен превышать 25 МБ и должен иметь одно из расширений - DOC, DOCX, TXT, PDF, JPG, GIF, PNG, RAR, ZIP, 7Z
                </span>
                <div *ngIf="form.get('file').invalid && form.get('file').touched">
                    <span *ngIf="form.get('file').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                </div>
                <!--accept=".doc,.docx,.txt,.pdf,.jpg,.gif,.png,.rar,.zip,.7z", required = "required"-->
            </td>
        </tr>

        <tr>
            <th class="vertical-align">Дополнительная <br> информация:</th>
            <td>
                <textarea appTooltip="tooltipComment" formControlName="comment"></textarea>
                <span id="tooltipComment" class="comment">
                    Укажите дополнительную информацию по Вашему заказу (какой вариант необходимо решить, номера задач, требования к оформлению и т.д.)
                </span>
            </td>
        </tr>

        <tr>
            <th class="vertical-align">Контактная <br>информация:</th>
            <td>
                <textarea appTooltip="tooltipContact" formControlName="contact"></textarea>
                <span id="tooltipContact" class="comment"> Укажите возможную контактную информацию для связи с Вами (skype, icq, vk и т.д.). Дананя информация может быть использована при необходимости уточнения условий по Вашему заказу. Контакты будут доступны только администрации сайта. Поле необязательное для заполнения</span>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
        <span class="font14">
            <i>* - поля обязательные для заполнения</i>
        </span>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button>Отправить</button>
            </td>
        </tr>

    </table>

</form>
