<div class="backdrop"></div>

<div class="modal">

    <div class="my-title">
        <span>Загрузить решение</span>
    </div>
    <div class="my-close">
        <button type="button" (click)="close()">&times;</button>
    </div>

    <hr>

    <table>
        <tr>
            <th class="vertical-align">Решение:</th>
            <td>
                <table *ngIf="files.length > 0">
                    <tr *ngFor="let file  of files; let i = index;">
                        <td class="attached-file-td">
                            <span *ngIf="file">файл {{i + 1}}: {{file.name}} ({{file.size}}кб)</span>
                        </td>
                        <td class="attached-file-td">
                            <button type="button" (click)="cleanFile(file)">x</button>
                        </td>
                    </tr>
                </table>

                <label for="files" class="attached-file-btn" appTooltip="tooltipFile">+ Добавить файл</label>
                <input type="file" id="files" style="display:none" appTooltip="tooltipFile" (change)="setFile($event)" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button type="submit">Отправить</button>
            </td>
        </tr>
    </table>
</div>
