<div class="backdrop"></div>

<div class="modal">
    <div class="my-header">
        <div class="my-title">
            <span>Заказ № {{task.id}} ({{task.user.login}})</span>
        </div>
        <div class="my-title-btn" *hasAnyRole="['ROLE_Admin']">
            <button class="my-btn" type="button" (click)="showTaskEditCostModal()">Оценить заказ</button>
        </div>
        <div class="my-title-btn" *hasAnyRole="['ROLE_Admin']">
            <button class="my-btn" type="button" (click)="showTaskEditRefuseModal()">Отказать в решении</button>
        </div>
        <div class="my-title-btn" *hasAnyRole="['ROLE_Admin']">
            <button class="my-btn" type="button" (click)="showTaskEditSolveModal()">Загрузить решение</button>
        </div>
        <div class="my-title-btn" *hasAnyRole="['ROLE_Admin']">
            <button class="my-btn" type="button" (click)="deleteTask()">Удалить заказ</button>
        </div>
        <div class="my-close">
            <button type="button" (click)="close()">&times;</button>
        </div>
    </div>
    <hr>
    <div class="my-body">
        <table>
            <tr>
                <th>Статус заказа:</th>
                <td>{{task.status.name}}</td>
            </tr>

            <tr>
                <th>Стоимость заказа:</th>
                <td>{{task.cost}}</td>
            </tr>


            <tr>
                <th>Раздел:</th>
                <td>{{task.subject.name}}</td>
            </tr>

            <tr>
                <th class="vertical-align">Условия задач:</th>
                <td>
                    <div *ngFor="let attachedFile of task.attachedFile" class="my-mb-7">
                        <ng-container *ngIf="attachedFile.type === 'task'">
                            <a (click)="download(attachedFile.id, attachedFile.name)" href="javascript:void(0);">
                                <span>{{attachedFile.name}}</span>
                            </a>
                            <span>
                                ({{attachedFile.size}}кб)
                            </span>
                        </ng-container>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Дата оформления заказа:</th>
                <td>{{task.created | date: 'medium'}}</td>
            </tr>

            <tr>
                <th>Срок решения:</th>
                <td>{{task.deadline | date: 'medium'}}</td>
            </tr>

            <tr>
                <th>Комментарий:</th>
                <td>{{task.comment}}</td>
            </tr>

            <tr>
                <th>Контактная информация:</th>
                <td>{{task.contact}}</td>
            </tr>

            <tr>
                <th class="vertical-align">Решение:</th>
                <td>
                    <div *ngFor="let attachedFile of task.attachedFile" class="my-mb-7">
                        <ng-container *ngIf="attachedFile.type === 'solve'">
                            <a (click)="download(attachedFile.id, attachedFile.name)" href="javascript:void(0);">
                                <span>{{attachedFile.name}}</span>
                            </a>
                            <span>
                                ({{attachedFile.size}}кб)
                            </span>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--
    <button class="btn" (click)="close.emit()">Close</button>-->
