.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

.modal {
    width: 1200px;
    padding: 1rem;
    background: #fff;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

table {
    text-align: left;
    margin-left: 50px;
}

th {
    padding: 5px;
}



.my-header {
    display: block;
    width: 100%;
}

.my-title {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.my-close {
    display: inline-block;
    position: relative;
    float: right;
}
