<div class="backdrop"></div>

<div class="modal">

    <div class="my-title">
        <span>Отказать в решении задач</span>
    </div>
    <div class="my-close">
        <button type="button" (click)="close()">&times;</button>
    </div>

    <hr>

    <form [formGroup]="form" (ngSubmit)="update()">
        <table>
            <tr>
                <th>Причина отказа:</th>
                <td>
                    <textarea formControlName="cause"></textarea>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button type="submit">Отправить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
