
    <p class="content_title">Восстановление пароля</p>
  <hr>


  <p style="text-indent:50px;">Для восстановления доступа к Вашей учетной записи введите логин, который Вы использовали для входа на сайт</p>
    @Html.AntiForgeryToken()

<!--    <span style="color:red;">@TempData["Message"]</span>-->

    <table class=" registration_form_table">

        <tr class="">

            <td class="registration_form_td registration_form_td_name"><!--@Html.Label("Логин:", new { @for = "UserName" })--></td>

  <td class="registration_form_td">
 <!-- @Html.TextBox("UserName", null, new { @class = "registration_form_input" })-->
</td>
</tr>

<tr class="">

<td class="registration_form_td registration_form_td_name"></td>

<td class="registration_form_td">
<input class="registration_form_send" type="submit" value="Отправить" />
</td>
</tr>

</table>
