<p class="content-title">Оплата заказа!</p>
<hr>

<form [formGroup]="form" (ngSubmit)="submit()">
    <table>
        <tr>
            <th>Номер заказа*:</th>
            <td>
                <select appTooltip="tooltipTaskId" formControlName="task" (change)="setCost()">
                    <option *ngIf="!form.value.task" [ngValue]="null"></option>
                    <option *ngFor="let task of tasks" [ngValue]="task">{{task.id}}</option>
                </select>
                <span id="tooltipTaskId" class="comment">
                    Выберите один из Ваших заказов для оплаты
                </span>
                <div *ngIf="form.get('task').invalid && form.get('task').touched">
                    <span *ngIf="form.get('task').errors.required" class="validation">
                        Поле обязательное для заполнения
                    </span>
                </div>
            </td>
        </tr>

        <tr>
            <th>Сумма к оплате:</th>
            <td>
                <input type="text" appTooltip="tooltipCost" formControlName="cost" readonly>
                <span id="tooltipCost" class="comment">
                    Сумма к оплате заказа. Заполняется автоматически после выбора заказа
                </span>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button type="submit">Отправить</button>
            </td>
        </tr>

    </table>

</form>


<!--

<style>
  p {
    margin-top: 0.0em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
  }

  h4 {
    margin-bottom: 0em; /* Отступ снизу */
    font-size:15px;
    font-style:italic;
  }
</style>

<p class="content_title">Оплата заказов</p>
<hr>

<div style="text-indent:50px; margin-bottom: -1.0em;">
  <p>Выберите один из способов оплаты заказа. После оплаты заказа заполните форму оплаты.</p>

  <h4>Способы оплаты:</h4>
  <p>В настоящий момент мы принимаем оплату заказов следующими способами:</p>
  <ul style="text-indent: 0px; padding-left: 100px; line-height: 1.4;  margin-top: -0.7em;">
    <li>переводом на банковскую карту <span style="color:#b11e18; font-style:italic;">VISA (сбербанк) - xxxx xxxx xxxx xxxx</span>;</li>
    <li>переводом на кошелек <span style="color:#b11e18; font-style:italic;">WebMoney - R091038277040</span>.</li>
  </ul>

  <h4>Форма оплаты:</h4>
</div>


<span class="registration_form_length">
                @Html.ValidationSummary()
            </span>

<table class="payment_table">
  <tr class="payment_tr">
    <td class="payment_td payment_td_name">Номер заказ<span class="payment_required">*</span>:</td>
    <td class="payment_td">
      &lt;!&ndash;@if (ViewBag.List != null)
      {
        @Html.DropDownListFor(m => m.Task_ID, (List<SelectListItem>)ViewBag.List, new { @class = "payment_input_width", style = "font-weight:700", onmouseover = "view('1')", onmouseout = "hide('1')", required = "required" })
        }
      else
      {
        List<SelectListItem> list = new List<SelectListItem>();
          list.Add(new SelectListItem { Text = "у Вас отсутствуют заказы", Value = "0", Selected = true });
          @Html.DropDownList(" ", list, new { @class = "payment_input_width", style = "font-weight:700; color:red;", onmouseover = "view('1')", onmouseout = "hide('1')", required = "required" })
        }&ndash;&gt;
      <span id="1" class="payment_comment"> Выберите номер заказа, который хотите оплатить. В списке отображаются только заказы оформленные Вами</span>
      &nbsp;
    </td>
  </tr>

  <tr class="">

    <td class="payment_td payment_td_name">Способ оплаты<span class="payment_required">*</span>:</td>
    <td class="payment_td">
&lt;!&ndash;      @{
      var itemMethod = new[]
      {
      new SelectListItem { Text = "Перевод на банковскую карту VISA", Value = "Перевод на банковскую карту VISA", Selected = true },
      new SelectListItem { Text = "Перевод на кошелек WebMoney", Value = "Перевод на кошелек WebMoney" }
      };
      }
      @Html.DropDownListFor(m => m.Method, itemMethod, new { @class = "payment_input_width", style = "font-size:12px;", onmouseover = "view('2')", onmouseout = "hide('2')", required = "required" })&ndash;&gt;
      <span id="2" class="payment_comment"> Укажите способ, которым Вы оплатили заказ</span>
      &nbsp;
    </td>
  </tr>

  <tr class="">
    <td class="payment_td payment_td_name">Сумма перевода<span class="payment_required">*</span>:</td>
    <td class="payment_td">
      &lt;!&ndash;@Html.TextBoxFor(m => m.Cost, new { @class = "payment_input_width", @Value = @ViewBag.Cost, onmouseover = "view('3')", onmouseout = "hide('3')", required = "required" })&ndash;&gt;
      <span id="3" class="payment_comment"> Укажите переведенную сумму</span>
      &nbsp;
    </td>
  </tr>

  <tr class="">
    <td class="payment_td payment_td_name">Дата перевода<span class="payment_required">*</span>:</td>
    <td class="payment_td">
&lt;!&ndash;      @Html.TextBoxFor(m => m.DatePayment, new { @type = "date", @class = "payment_input_width", @Value = (Model == null) ? (string)@ViewBag.Date : Model.DatePayment, @Min = @ViewBag.MinDate, @Max = @ViewBag.MaxDate, onmouseover = "view('4')", onmouseout = "hide('4')", required = "required" })&ndash;&gt;
      <span id="4" class="payment_comment"> Укажите дату выполнения перевода средств. Если при выборе даты в Вашем браузере не отображается календарь, то дату необходимо указать в формате гггг-мм-дд</span>
      &nbsp;
    </td>
  </tr>

  <tr class="">
    <td class="payment_td payment_td_name">Прикрепить  файл:</td>
    <td class="payment_td">
&lt;!&ndash;      @Html.TextBox("file", null, new { @type = "file", onmouseover = "view('5')", onmouseout = "hide('5')", accept = ".doc,.docx,.txt,.pdf,.jpg,.gif,.png,.rar,.zip,.7z" })&ndash;&gt;
      <span id="5" class="payment_comment"> Для подтверждения оплаты Вы можете дополнительно прикрепить файл с квитанцией перевода средств. Файл не должен превышать 25 МБ и должен иметь одно из расширений - DOC, DOCX, TXT, PDF, JPG, GIF, PNG, RAR, ZIP, 7Z. Поле необязательное для заполнения</span>
      &nbsp;
    </td>
  </tr>

  <tr class="">
    <td class="payment_td payment_td_name">Дополнительная <br> информация:</td>
    <td class="payment_td">
&lt;!&ndash;      @Html.TextAreaFor(m => m.Comment, new { @class = "payment_input_width payment_input_width_com_con", @Value = @ViewBag.Comment, onmouseover = "view('6')", onmouseout = "hide('6')" })&ndash;&gt;
      <span id="6" class="payment_comment"> Укажите дополнительную информацию по оплате заказа. Поле необязательное для заполнения</span>
      &nbsp;
    </td>
  </tr>

  <tr class="">
    <td></td>
    <td><span class="payment_required">* - поля обязательные для заполнения</span></td>
  </tr>

  <tr class="">
    <td class="payment_td payment_td_name"></td>
    <td class="payment_td">
      <input style="display:none;" name="addpay" value=1>
&lt;!&ndash;      @if (ViewBag.List != null)
      {
      <button class="payment_send">Отправить</button>
      }
      else
      {
      <button class="payment_send" disabled="disabled" style="background-image: linear-gradient(to top, #9a9a9a, #bebebe);"><div onmouseover="view('7')" onmouseout="hide('7')">Отправить</div></button>
      <span id="7" class="payment_comment"> У Вас отсутствуют заказы. Отправка формы возможна только после оформления заказа</span>
      <span>&nbsp;</span>
      }&ndash;&gt;
    </td>
  </tr>

</table>
-->
