/*Правила оформления заказов*/

ol {
  color:#00094d;
  font-size:15px;
}

img {
  cursor:zoom-in;
  tabindex: 1;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.big {
  width: 1000px;
}
