/*Правила оформления заказов*/

ol {
  color:#00094d;
  font-size:15px;
}

li {
    margin-bottom: 20px;
    text-indent: 0;
}

img {
  cursor:zoom-in;
  tabindex: 1;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.big {
  width: 1000px;
}

table {
    margin-left: 20px;
    margin-top: 10px;
}

th {
    font-style: italic;
    font-size: 15px;
    text-align: right;
}

td {
    padding: 10px;
}
