<p class="content-title">
  Правила оформления заказов!
</p>

<hr>

<p>
  Для оформления заказа на решение задач и получения решения задач вам необходимо выполнить следующие действия:
</p>

<ol>
  <li>
    <a [routerLink]="['/registration']">Зарегистрироваться на нашем сайте</a>  (получить логин и пароль).
  </li>

  <li>
    Войти на сайт под своей учетной записью, указав логин и пароль.
    <img src="main/webapp/content/image/Example1.png" (click)="onChangeSize($event.target)">
  </li>

  <li>
    <a [routerLink]="['/new-task']">Добавить заказ с помощью формы оформления заказа</a>
    <i>(см. <a href="main/webapp/content/image/Example2.png"> пример заполнения формы</a>)</i>,
    указав примерную стоимость, на которую вы рассчитываете.
    После этого ваш заказ будет добавлен в
    <a href="" class="rules_font">список задач</a>,
    решаемых в системе. Заказу присвоится статус "Новый".
    <br>
    <img src="main/webapp/content/image/Example3.png" (click)="onChangeSize($event.target)">
  </li>

  <li>
    Необходимо дождаться просмотра заказа администрацией системы. Заказ является просмотренным, если статус заказа изменится на "Просмотрен". После просмотра задач установливается конечная стоимость решения.
    <img src="main/webapp/content/image/Example4.png" (click)="onChangeSize($event.target)">
    Если заказ оформлен некорректно или его задачи не соответствует задачам, решаемым в системе, то заказу присвоится статус "Отказано" и будет указана причина, по которой отказали в решении задач.
    <img src="main/webapp/content/image/Example9.png" (click)="onChangeSize($event.target)">
  </li>

  <li>
    Если вы согласны с ценой, то необходимо внести предоплату в размере от 50% от стоимости заказа.
    В разделе "<a [routerLink]="['/payment']">Оплатить заказ</a>"
    указаны способы оплаты заказов, а также приведена форма об оплате, которую необходимо заполнить, чтобы мы знали по оплате какого заказа переведены средства.
    <i>(см. <a href="main/webapp/content/image/Example5.png"> пример заполнения формы</a>)</i>
    Если вы не согласны с ценой, то можете удалить заказ из системы, нажав на значок
    <img src = "main/webapp/content/image/delete.png" title = "Удалить заказ" style="width: 14px">
    После подтверждения оплаты статус заказа изменится на "Решается". Это означает, что мы приступили к решению задач.
    <img src="main/webapp/content/image/Example6.png" (click)="onChangeSize($event.target)">
  </li>

  <li>
    Необходимо дождаться когда задачи будут решены. По окончании решения задач статус заказа изменится на "Выполнен".
    <div><img src="main/webapp/content/image/Example7.png" (click)="onChangeSize($event.target)"></div>
  </li>

  <li>
    Необходимо оплатить оставшуюся сумму и заполнить форму об оплате в разделе
    "<a [routerLink]="['/payment']">Оплатить заказ</a>".
    После подтверждения оплаты статус заказа изменится на "Готово" и решение станет доступным для скачивания.
    <img src="main/webapp/content/image/Example8.png" (click)="onChangeSize($event.target)">
  </li>
</ol>
